@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;

  --color-header-bg: #21465e;
  --color-yellow-btn: #f0ba43;
  --color-light-bg: #f5f5f5;
  --color-text-dark: #1d1d1d;
  --color-text-gray: #878787;
  --color-text-navy: #080341;
  --color-black: #000000;
  --color-white: #ffffff;

  --font-family-sans: var(--font-geist-sans), system-ui, -apple-system,
    sans-serif;
  --font-family-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-family-inter: var(--font-inter), system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
